
@model Explorers_Haven.Models.Activity

<form method="post">
    <div class="row">
        <div class="mb-3">
            <label asp-for="Name">Име</label>
            <input asp-for="Name">
            <span asp-validation-for="Name" class="alert-danger"></span>
        </div>
        <div class="mb-3">
            <label for="OfferId">Оферта</label>
            <select asp-for="OfferId" asp-items="ViewBag.Offers" class="form-control">
                <span asp-validation-for="OfferId" class="alert-danger"></span>
                <option value="">Изберете пътешествие</option>
            </select>
        </div>
        @*<h2>Всяко пътешествие може да има само едно събитие</h2>*@
    </div>
    <div class="row">
        <div class="mb-3">
            <button type="submit">Въведи</button>
        </div>
    </div>
</form>
