@model Explorers_Haven.Models.Trip
<form method="post">
    <div class="row">
        <div class="mb-3">
            <label asp-for="Name">Име</label>
            <input asp-for="Name">
            <span asp-validation-for="Name" class="alert-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="OfferId">Пътепис</label>
            <select asp-for="OfferId" asp-items="ViewBag.Offers" class="form-control">
                <span asp-validation-for="OfferId" class="alert-danger"></span>
                <option value="">Изберете пътепис</option>
                </select>
        </div>
    </div>
    <div class="row">
        <div class="mb-3">
            <button type="submit">Въведи</button>
        </div>
    </div>
</form>