@using Explorers_Haven.Models
@model IEnumerable<Trip>

<partial name="_Notification"></partial>

<div class="container">
    <div class="row">
        <div class="col col-md-6">
            <h3>Пътешествия</h3>
        </div>
        <div class="col col-md-6">
            <a asp-controller="Trip" asp-action="AddTrip" class="btn btn-primary">Добави Пътешествиe</a>
        </div>


    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ИД</th>
            <th scope="col">Име</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var trip in Model)
        {
            <tr>
                <th scope="row">1</th>
                <td>@trip.Id</td>
                <td>@trip.Name</td>
                <td>
                    <div class="btn-group">
                        <a asp-controller="Trip" asp-action="EditTrip" asp-route-Id="@trip.Id" class="btn btn-primary">Редактирай</a>
                        <a asp-controller="Trip" asp-action="Delete" asp-route-Id="@trip.Id" class="btn btn-primary">Изтрий</a>
                    </div>

                </td>
            </tr>
        }
    </tbody>
</table>
