@using Explorers_Haven.Models
@model User

<h1>Add User</h1>

<form method="post">
    <input type="text" placeholder="Username" asp-for="Username" />
    <br />
    <input type="text" placeholder="UserIdentity.Email" asp-for="UserIdentity.Email" />
    <br />
    <input type="text" placeholder="Password" asp-for="Password" />
    <br />
    <button type="submit">Submit</button>
</form>
