@using Explorers_Haven.ViewModels.Account
@model LoginViewModel

<div class="login-container">
    <h2 class="login-title">Login to Your Account</h2>
    <form method="post" asp-controller="Account" class="login-form">
        <div class="login-input-group">
            <label for="Email" class="login-input-label">Email</label>
            <div class="input-with-icon">
                <i class="fa fa-envelope login-input-icon"></i>
                <input asp-for="Email" class="login-input-field" type="email" placeholder="Enter your email" />
            </div>
        </div>

        <div class="login-input-group">
            <label for="Password" class="login-input-label">Password</label>
            <div class="input-with-icon">
                <i class="fa fa-lock login-input-icon"></i>
                <input asp-for="Password" class="login-input-field" type="password" placeholder="Enter password" />
            </div>
        </div>

        <div class="login-input-group">
            <div class="remember-me">
                <label for="RememberMe" class="remember-me-label">
                    <input asp-for="RememberMe" class="remember-me-checkbox" type="checkbox" />
                    <span class="remember-me-text">Remember me</span>
                </label>
            </div>
        </div>

        <button type="submit" class="login-btn login-btn-primary">Login</button>
    </form>
</div>